#container {
	display: block;
    margin: 20px auto 20px 0;
    padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: gray;
    max-width:560px;
    min-width: 280px;
}


.block {
	display: inline-block;
	cursor:pointer;
	width:100px;
	height:100px;
	margin: 20px;
	line-height: 80px;
	text-align: center;
	color: white;
}

.block:hover {
	box-shadow: 0 10px #000000;
	outline: 1px solid white;
}
