@charset "UTF-8";
/*
 * Author      : Manfred Rosenboom
 * Site        : http://www.geocities.ws/marochess/w3c_training/javascript/assignment1/
 * Last Update : Sat, 29 Mar 2014 10:15:00 +0100
 * License     : Creative Commons Attribution 4.0 International License
 *               http://creativecommons.org/licenses/by/4.0/
 * =============================================================================
 */
html {
    font-size:100.01%;
}

hr { border: none; background-color: silver; color: silver; height: 2px; }
b  { font-weight: bold; }
ul { margin-left: 0; }
li { margin-left: 20px; list-style: circle; }
pre { font-family: monospace; }

html, body {
    height:100%;
    color: black;
    background: #fff;
}

body {
    font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
a {
    color: #267;
    text-decoration: underline;
}
a:hover {
    color: #722;
}
p {
    margin: 0 0 1em;
}

header,
nav,
main,
section,
article,
footer {
    display: block
}
header {
    font-size: 1.3em;
    padding: 20px 20px;
}

footer {
    clear: both;
    padding: 10px 20px
}
body>header, body>footer {
    clear:both; background-color: #f0f0f0;
    margin: 5px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px;
    border-style: solid; border-radius: 12px; border-color:#c0c0c0; border-width: 2px;
    display: block;
}

nav { clear:both; float: left; display: block; width: 150px; margin: 5px 0 10px 0; padding: 0; font-size: 1.0em; }
nav ul { margin: 0 0 0 20px; padding: 0; }

section {
    padding: 0;
    margin: 5px 200px 0 160px;
}

section article {
    margin: 0 50px 40px;
    padding: 0;
}
section header {
    font-size: 1em;
    padding: 0;
}
section h1 {
    font-size: 2.3em;
}


@media screen and (max-width: 800px) {
    .nomobile { display:none; }

    nav {
        padding: 0;
        margin: 5px 0 0 0;
        width: 80%;
    }
    section {
        clear:both;
        float: left;
        padding: 0;
        margin-left: 10px;
        margin-right: 0;
    }
    section article {
        margin: 0;
        padding: 0;
    }
    section header {
        margin: 10px 0 0 0;
        padding: 0;
    }
    section h1 {
        margin: 0;
        padding: 0;
    }
}


@media print {
    * { color:#000 !important; box-shadow:none !important; text-shadow:none !important; background:transparent !important; }
    html { background-color:#fff; }
    body {
        margin: 0; color: black; background-color: white;
        font-size: 16px; font-style: normal; font-family: Helvetica, Arial, Verdana, sans-serif;
    }
    nav { display:none; }
    header, footer {
        background-color: #fff; padding: 3px; font-size: 1em;
        margin-left: 5px; padding-top: 1px; padding-bottom: 1px;
        border-style: none; border-color: #000; border-radius: 0px;
        display: block;
    }
    body>header, body>footer {
        background-color: #fff; padding: 3px; font-size: 1em;
        margin-left: 5px; padding-top: 1px; padding-bottom: 1px;
        border-style: solid; border-color: #000; border-radius: 0px;
        display: block;
    }
    body>header { border-top: 0px; border-bottom: 3px; border-bottom-style: solid; border-left: 0px; border-right: 0px; }
    body>footer { border-top: 3px; border-top-style: solid; border-bottom: 0px; border-left: 0px; border-right: 0px; }
    article,section { margin-left: 10px; background-color: #fff; }
    .noprint { display:none; }
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] { font-weight:bold; text-decoration:underline; color:#06c; border:none; }
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    abbr[title]:after { content: " (" attr(title) ")"; }
}
