@charset "UTF-8";
main, header, nav, aside, section {
    display: block;
}
body {
	margin: 0;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 100%;
}
main {
    /* width: 998px; */
	width: 63em;
	padding: 0 20px 20px 20px;
	margin: 0 auto auto 20px;
}
main>header {
	width: 100%;
	height: 100px;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
}
section {
    width: 35em;
	min-height: 280px;
	padding: 20px 20px 30px 20px;
	position: absolute;
	top: 150px;
	left: 260px;
	background-color: #FFF;
}
section>header>h2 {
    text-transform: uppercase;
}
section>header>img {
    float: right;
}
section>img {
    float: left;
    margin-right: 10px;
}
nav {
   float: left;
}
nav>ul {
	width: 12.5em;
	padding: 0;
	margin-top: 50px;
	border: 1px solid #000;
	background-color: #DA622E;
}
nav>ul>li {
	text-align: center;
	color: #fff;
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #216B9A;
    line-height: 18px;
}
nav>ul>li {
	text-align: left;
	list-style: none;
}
li a {
	color: #FFF;
}
li a:hover, li a:hover {
	color: #000;
}
a {
	text-decoration: none;
	color: #DA622E;
}
a:hover, a:focus {
	color: #09F;
}
aside {
	width: 9.3em;
	min-height: 200px;
	float: right;
	margin: 50px 0 0 10px;
	background-color: #999;
    padding: 20px 10px;
}
aside>p {
    line-height:1.1;
    color : white;
    font-size: 0.8em;
}
h1 {
	margin-top: 0;
}
h2 {
	font-size: 1em;
	color: #166BA1;
	margin-top: 0;
}
a:link    { color:#0000ff; }
a:visited { color:#800080; }
a:focus   { color:#008000; outline: thin dotted; }
a:hover   { color:#008000; outline: 0px; }
a:active  { color:#ff0000; outline: 0px; }
.bold {
    font-weight:bold;
}
/* clearfix source: http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#confirmation {
    background-image: none;
    margin: 20px;
}
#formClose {
    display: none;
}
#formContact {

}
.table_list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    width: 28em;
}
.table_list_item {
    line-height: 30px;
}
.table_list li div {
    display: block;
    float: left;
    padding: 3px 5px;

}
.table_list_item_name {
    font-weight:bold;
    width: 9.3em;
}
.table_list_item_single {
    width: 5em;
}
.table_list_item_double {
    width: 5em;
}
.table_list_item_triple {
    width: 5em;
}

.contact_form {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 31.25em;
    border: 1px solid black;
}
.contact_form_item {
    line-height: 30px;
}
.contact_form li div {
    display: block;
    float: left;
    padding: 3px 5px;

}
.contact_form li fieldset {
    padding: 0;
    border: 1px dotted black;
}
.contact_form_item_colName {
    font-weight:bold;
    width: 7.5em;
}
.contact_form_item_colValue {
    width: 6.25em;
}
.contact_form_item_colDate1 {
    width: 6.25em;
}
.contact_form_item_colDate2 {
    width: 6.25em;
}
.contact_form_item_colDate3 {
    width: 6.25em;
}
.contact_form_item_colMessage {
    width: 18.75em;
}
.contact_form_item_reset {
    width: 6.25em;
}
.contact_form_item_proceed {
    width: 6.25em;
    margin-left: 40px;
    padding-left: 0;
}

