/* 
 * Author      : Manfred Rosenboom
 * Site        : http://www.geocities.ws/marochess/w3c_html5/
 * Last Update : Sun, 14 Apr 2013 15:22:00 +0200
 * License     : Creative Commons Attribution 3.0 Unported License
 *               http://creativecommons.org/licenses/by/3.0/
 * =============================================================================
 */
html { background-color: white; }
body {
    margin: 0; color: black; background-color: white;
    font-size: 16px; font-style: normal; font-family: Helvetica, Arial, Verdana, sans-serif;
}
body>header, body>footer {
    clear:both; background-color: #f0f0f0;
    margin: 5px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px;
    border-style: solid; border-radius: 12px; border-color:#c0c0c0; border-width: 2px;
    display: block;
}
header, footer {
    clear:both;
    margin: 5px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px;
    display: block;
}
body>header h1 { font-weight: bold; font-size: 1.5em; }
footer { font-size: 0.9em; }
article, section { clear:both; display: block; margin-left: 10px; background-color: #ffffff; }
.nomobile { }
.noprint {  }
h1 { font-weight: bold; font-size: 1.2em; }
a:link    { color:#0000ff; }
a:visited { color:#800080; }
a:focus   { color:#008000; outline: thin dotted; }
a:hover   { color:#008000; outline: 0px; }
a:active  { color:#ff0000; outline: 0px; }


@media print {
    * { color:#000 !important; box-shadow:none !important; text-shadow:none !important; background:transparent !important; }
    html { background-color:#fff; }
    body {
        margin: 0; color: black; background-color: white;
        font-size: 16px; font-style: normal; font-family: Helvetica, Arial, Verdana, sans-serif;
    }
    nav { display:none; }
    header, footer {
        background-color: #fff; padding: 3px; font-size: 1em;
        margin-left: 5px; padding-top: 1px; padding-bottom: 1px;
        border-style: solid; border-color: #000; border-radius: 0px;
        display: block;
    }
    header { border-top: 0px; border-bottom: 3px; border-bottom-style: solid; border-left: 0px; border-right: 0px; }
    footer { border-top: 3px; border-top-style: solid; border-bottom: 0px; border-left: 0px; border-right: 0px; }
    article,section { margin-left: 10px; background-color: #fff; }
    .noprint { display:none; }
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] { font-weight:bold; text-decoration:underline; color:#06c; border:none; }
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    figure { margin-bottom:1em; overflow:hidden; }
    figure img { border:1px solid #000; }
}
